<ion-view view-title="new Book">
    <ion-content class="padding">

<label class="item item-input">
    <span class="input-label">Title</span>
    <input type="text">
</label>
<label class="item item-input">
    <span class="input-label">Subtitle</span>
    <input type="text">
</label>
<label class="item item-input">
    <span class="input-label">ISBN</span>
    <input type="number">
</label>
        <label class="item item-input">
            <span class="input-label">Abstract</span>
            <textarea placeholder="Abstract"></textarea>
        </label>
<label class="item item-input">
    <span class="input-label">Pages</span>
    <input type="number">
</label>
author      : 'Andreas Schubert',
<label class="item item-input">
    <span class="input-label">Author</span>
    <input type="text">
</label>
        <button class="button icon-left ion-camera button-block button-positive">
            take a picture
        </button>
<label class="item item-input">
    <span class="input-label">Publisher</span>
    <input type="text">
</label>
<label class="item item-input">
    <span class="input-label">Publisher Url</span>
    <input type="text">
</label>

    </ion-content>
</ion-view>