<ion-view view-title="{{book.title}}">
  <ion-content class="padding">
      <div class="list card">

          <div class="item">
              <h2>{{book.title}}</h2>
              <h3>{{book.subtitle}}</h3>
              <img src="{{book.cover}}">
              <p>Pages: {{book.numPages}}</p>
              <p>Publisher: {{book.publisher.name}}</p>
              <p>ISBN: {{book.isbn}}</p>
          </div>

          <div class="item item-body">
                  {{book.abstract}}
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
              <a class="tab-item" ng-click="editBook(book)">
                  <i class="icon ion-edit"></i>
                  edit this book
              </a>
              <a class="tab-item" ng-click="lendBook(book)">
                  <i class="icon ion-share"></i>
                  lend it to a friend
              </a>
              <a class="tab-item" ng-click="openPopover($event)">
                  <i class="icon ion-trash-a"></i>
                  delete this book
              </a>
          </div>

      </div>

  </ion-content>
</ion-view>



